In [1]:
#integer
a=20
print(a)

20

In [2]:
#float
x=20.8
print(x)

20.8

In [5]:
#list
l=[1,2,3,4,5]
fruits=['apple','banana','orange','mango']
print(fruits)
print(l)

['apple', 'banana', 'orange', 'mango']
[1, 2, 3, 4, 5]

In [6]:
#tuple
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [7]:
fruits={'apple','banana','orange','mango','apple','mango'}
print(fruits)

{'orange', 'mango', 'apple', 'banana'}

In [10]:
student={
    'name':'john','age':20,'course':'B.Tech'}
print(student)

{'name': 'john', 'age': 20, 'course': 'B.Tech'}

In [11]:
a=int(input('enter a number'))
print(a)

5

In [12]:
type(a)

int

In [13]:
#typecasting
x=int(input('enter a number'))
y=str(x)
print(y)

5

In [14]:
type(y)

str