In [4]:
lst=['apple','banana','chery','orange','kivi','melon','mango']
for i in lst:
    print(i)

apple
banana
chery
orange
kivi
melon
mango

In [5]:
a=[2,4,6,4,7,8,9,10]
for i in a:
    print(i**2)

4
16
36
16
49
64
81
100

In [6]:
name="shivam singh"
for x in name:
    print(x)

s
h
i
v
a
m

s
i
n
g
h

In [8]:
for i in range (51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [13]:
for x in range(2,11):
    print(x)

2
3
4
5
6
7
8
9
10

In [5]:
for i in range(2,16,3):
    print(i)

2
5
8
11
14

In [6]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [12]:
for i in range(2,21):
    if i%2!=0:
        print(i)

3
5
7
9
11
13
15
17
19

WHILE LOOP

In [13]:
x=0
while x<51:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [16]:
x=0
while x<10:
    print("shivam")
    x+=1

shivam
shivam
shivam
shivam
shivam
shivam
shivam
shivam
shivam
shivam

In [24]:
x=(0)
while x<20:
    print(x*2)
    x+=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [2]:
value = 1
while value < 20:
    value *= 4
    print(value)

4
16
64

break and continue

In [4]:
#break
for x in range(5):
    if x==3:
        break
print(x)

3

In [5]:
#continue
for x in range(5):
    if x==3:
        continue
    print(x)

0
1
2
4

In [21]:
x=['apple','banana','potato','mango','orange','grapes']
for i in x:
    if i=='potato':
        break
    print(i)

apple
banana

In [22]:
x=['apple','banana','potato','mango','orange','grapes']
for i in x:
    if i=='potato':
        continue
    print(i)

apple
banana
mango
orange
grapes

In [29]:
name="shivam"
for i in name:
    if i=="a":
        break
    print(i)

s
h
i
v